<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us card || Learning robo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/aboutUs.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <div class="image">
            <img src="./images/restOfImg/aboutUs3.png">
        </div>

        <div class="content">
            <h2 id="aboutMe">About Us</h2>
            <!-- <span>line here</span> -->
            <p>Our community aims to bring change in the society through the actions we implement and *to nourish every
                brain to have limitless power of thinking and imagination* that can improve the life of each and every
                individual present in the society by spreading education.To connect people, organizations, and systems
                that are eager to learn and work across boundaries in pursuit of a shared goal.</p>
            <ul class="links">

                <li><a href="#">Constant guide & support</a></li>
                <div class="vertical-line"></div>
                <li><a href="#">Workshops & Meetups</a></li>
                <div class="vertical-line"></div>
                <li><a href="#">Interactive Atmosphere</a></li>
            </ul>
            <ul class="icons">
                <li>
                    <a href="https://twitter.com/BrainseedN"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/people/BrainSeed-Networks/100086690594526/"><i
                            class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/brainseed_networks/?r=nametag"><i
                            class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/brainseed-networks/"> <i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC3vk9QvXFlZRpfMX_MmGumA"> <i
                            class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>