<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
    <link rel="stylesheet" href="./css/event.css">
</head>

<body>

    <!-- background video -->
    <section id="vid">
        <video id="mvid" autoplay loop muted>
            <source type="video/mp4" src="./images/animation/background.mp4">
        </video>

        <div class="event">
            <p>Event <span>Starting</span> In</p>
        </div>

        <div class="container">
            <img src="./images/restOfImg/logo.png" class="logo">
        </div>


        <!-- timer -->
        <div class="countdown-timer-container">
            <div class="countdown-timer-values" id="days">00</div>
            <div class="countdown-timer-values" id="hours">00</div>
            <div class="countdown-timer-values" id="minutes">00</div>
            <div class="countdown-timer-values" id="seconds">00</div>
            <div>days</div>
            <div>hours</div>
            <div>minutes</div>
            <div>seconds</div>
        </div>
        <!-- submit btn -->
        <form action="https://bit.ly/3SIhEqc">
            <div class="container" id="Sub">
                <input type="submit" id="Submit" value="Register Here">

            </div>
        </form>

    </section>

    <script src="./css/event.js"></script>
</body>

</html>