<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainSeed Networks </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- for including font awesome 5 icons -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- Header tag -->
    <header class="header" id="home">
        <img src="./images/restOfImg/logo.png" width="60" height="50" />
        <a href="#" class="logo"> <i class=" " id="hh"></i> BrainSeed Networks </a>
        <nav class="navbar">
            <a href="#services">home</a>
            <a href="#about">About Us</a>
            <a href="#doctors"> Members</a>
            <a href="#book">Join Us</a>
            <!-- <a href="#review">review</a> -->
            <form action="/event" method="get"><button type="submit" style="background-color: transparent; border: none;  cursor: pointer;"><a>Events</a></button></form>
        </nav>
        <div id="menu-btn" class="fas fa-bars"></div>
    </header>

    <!-- Services tag  -->
    <section class="services" id="services">
        <div class="box-container">
            <div class="box">
                <i class="fas fa-network-wired"></i>
                <h3>Contact Building</h3>
                <p>Will help to increase your contact networks .</p>
            </div>
            <div class="box">
                <i class="fas fa-user-friends"></i>
                <h3>Comunication Skills </h3>
                <p>Will devople good communication skill</p>
            </div>
            <div class="box">
                <i class="fas fa-neuter"></i>
                <h3>Skills Development</h3>
                <p>We have experts related to different skills development .</p>
            </div>
            <div class="box">
                <i class="fas fa-handshake"></i>
                <h3>Supportive Core Members</h3>
                <p>We are having a well mannered, skilled core members who will help you in your difficulties.</p>
            </div>
            <div class="box">
                <i class="fas fa-people-carry"></i>
                <h3>Interactive Sessions</h3>
                <p>We will organise some interactive sessions having a good speakers..</p>
            </div>
            <div class="box">
                <i class="fas fa-cash-register"></i>
                <h3>Managing unpredictable changes</h3>
                <p>With us one can easily tackle difficulties.</p>
            </div>
            <div class="box">
                <i class="fas fa-brain"></i>
                <h3>Developing the action plan</h3>
                <p>We us one can plan and acheive a goal.<p>
            </div>
            <div class="box">
                <i class="fas fa-chess-rook"></i>
                <h3>Developing a community strategy</h3>
                <p>Here we all learn simultaneously.</p>
            </div>
        </div>
    </section>


    <!-- About BrainSeed -->
    <section class="about" id="about">
        <h1 class="heading"> <span>about</span> us </h1>
        <div class="row">
            <div class="image">
                <img src="images/restOfImg/brainseed.gif" alt="BrainSeed Logo">
            </div>
            <div class="content">
                <h3>Welcome to BrainSeed Networks
                    <br>
                    #Building Success Together
                </h3>
                <form action="/aboutUs" method="get"><button type="submit" style="background-color: transparent; border: none;  cursor: pointer;"><a class="btn"> learn more <span class="fas fa-chevron-right"></span> </a></button></form>
            </div>
        </div>
    </section>


<!-- Founder lead team -->
    <section class="doctors" id="doctors">
        <h1 class="heading"> our <span>Founders</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="./images/membersImg/me.jpg" alt="Subham Gourasia Image">
                <h3>Subham Gourasia</h3>
                <span>Founder</span>
                <div class="share">
                    <a href="https://twitter.com/Subham_Coder" class="fab fa-twitter" target="_blank"></a>
                    <a href="https://www.instagram.com/subham_smiling/" class="fab fa-instagram" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/subham-gourisaria-a13418201/" class="fab fa-linkedin"
                        target="_blank"></a>
                </div>
            </div>
            <div class="box">
                <img src="./images/membersImg/ShipraShriparn.jpg" alt="shipra img">
                <h3>Shipra </h3>
                <span>Co-Founder</span>
                <div class="share">
                    <a href="https://instagram.com/shiprashriparn?igshid=YmMyMTA2M2Y=" target="_blank"
                        class="fab fa-instagram"></a>
                    <a href="https://twitter.com/Shipra_shriparn?t=LvZae7T7IRr51h1SHPmQ0A&s=08" target="_blank" class="fab fa-twitter"></a>
                    <a href="https://www.linkedin.com/in/shipra-shriparn-b36b58214/" target="_blank"
                        class="fab fa-linkedin"></a>
                </div>
            </div>
            <div class="box">
                <img src="./images/membersImg/YashRajAnand.jpg" alt="Yash Raj Anand img">
                <h3>Yash Raj Anand</h3>
                <span>Community Manager</span>
                <div class="share">
                    <a href="https://twitter.com/YashRAnand2624?t=5sOkVkPtLtz4FBeFqDUEew&s=09" class="fab fa-twitter"></a>
                    <a href="https://instagram.com/yashranand?igshid=YmMyMTA2M2Y=" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/yash-raj-a-0ab34a21b" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </section>


    <!-- tech leader team -->
    <section class="doctors" id="doctors">
        <h1 class="heading"> Technical <span>Core Members</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="./images/membersImg/sparsh.jpg" alt="Sparsh Img">
                <h3>Sparsh Bhardwaj</h3>
                <span>Technical Lead</span>
                <div class="share">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/sparsh-bhardwaj-571322250" class="fab fa-linkedin"></a>
                </div>
            </div>
            <div class="box">
                <img src="./images/membersImg/ROSHAN.jpeg " alt="Roshan Img">
                <h3>Roshan kumar</h3>
                <span>Technical Co-Lead</span>
                <div class="share">
                    <a href="https://twitter.com/ROSHANK48044201" class="fab fa-twitter" target="_blank"></a>
                    <a href="https://www.instagram.com/smartboyroshan_/" class="fab fa-instagram" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/roshan-kumar-914089222/" class="fab fa-linkedin"
                        target="_blank"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Web designer team -->
    <section class="doctors" id="doctors">
        <h1 class="heading"> our <span>Web Designing Team</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="./images/membersImg/krishna.jpg" alt="Krishna Img">
                <h3>Krishna Dev Ghosh</h3>
                <span>Web Designing Lead</span>
                <div class="share">
                    <a href="https://twitter.com/krishna_kdg_" class="fab fa-twitter" target="_blank"></a>
                    <a href="https://www.instagram.com/_kdg.___/" class="fab fa-instagram" target="_blank"></a>
                    <a href="http://www.linkedin.com/in/krishna-dev-ghosh-6aa990229" class="fab fa-linkedin"
                        target="_blank"></a>
                </div>
            </div>
            <div class="box">
                <img src="./images/membersImg/dev.jpeg" alt="Dev Img">
                <h3>Devraditya Singh Chouhan</h3>
                <span>Web Designing Co-Lead</span>
                <div class="share">
                    <a href="#" class=" fab fa-twitter"></a>
                    <a href="https://www.instagram.com/dev_chouhan.48/" class="fab fa-instagram" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/devradityasinghchouhan24/" class="fab fa-linkedin"
                        target="_blank"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Graphic designer team -->
    <section class="doctors" id="doctors">
        <h1 class="heading"> Our <span>Graphic Designers</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="./images/membersImg/GajalKaler.jpg" alt="Gajal Kaler Img">
                <h3>Gajal kaler</h3>
                <span>Graphics Lead</span>
                <div class="share">
                    <a href="https://twitter.com/GajalKaler?t=ucUbwS33k-Uxs4j_0TfIOQ&s=08" class="fab fa-twitter"
                        target="_blank"></a>
                    <a href="https://www.instagram.com/gajal2004" class="fab fa-instagram" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/gajal-kaler-0bb012249" class="fab fa-linkedin"
                        target="_blank"></a>
                </div>
            </div>
            <div class="box">
                <img src="./images/membersImg/ShaluKumawat.jpg" alt="Shalu Kumawat img">
                <h3>Shalu kumawat</h3>
                <span>Graphics Co-Lead</span>
                <div class="share">
                    <a href="https://twitter.com/ShaluKumawat27" target="_blank" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/shalu__btsarmy" class="fab fa-instagram" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/shalu-kumawat-ba5889227" class="fab fa-linkedin"
                        target="_blank"></a>
                </div>
            </div>
        </div>
    </section>

<!-- Manager lead team -->
    <section class="doctors" id="doctors">
        <h1 class="heading"> our <span>Managers</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="./images/membersImg/AlokAgarwal.jpg" alt="Alok Agarwal img">
                <h3>Alok Agarwal </h3>
                <span>Event Managing Lead</span>
                <div class="share">
                    <a href="https://twitter.com/alokagarwal___" class="fab fa-twitter" target="_blank"></a>
                    <a href="https://www.instagram.com/alokagarwal___/" class="fab fa-instagram" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/alok-agarwal-27012004/" class="fab fa-linkedin"
                        target="_blank"></a>
                </div>
            </div>
            <div class="box">
                <img src="./images/membersImg/AradhyaPandey.jpg" alt="Aradhya Pandey img">
                <h3>Aradhya Pandey</h3>
                <span>Event Managing Co-Lead</span>
                <div class="share">
                    <a href="https://twitter.com/itzhappyperson" target="_blank" class="fab fa-twitter"></a>
                    <a href="https://instagram.com/aaru_euphoric?igshid=YmMyMTA2M2Y=" class="fab fa-instagram"
                        target="_blank"></a>
                    <a href="https://www.linkedin.com/in/aradhya-pandey-3a34ba248" class="fab fa-linkedin"
                        target="_blank"></a>
                </div>
            </div>
        </div>
    </section>


<!-- Become a member -->
    <section class="book" id="book">
        <h1 class="heading"> <span>Join </span> now </h1>
        <div class="row">
            <div class="image">
                <!-- <img src="./images/restOfImg/refister.jfif" alt="img"> -->
                <iframe id="RegisterImg" src="https://giphy.com/embed/JzMD3OT2yDEVqRcIYb" width="480" height="244" frameBorder="0" class="giphy-embed" allowFullScreen style="pointer-events: none; filter: invert(100);"></iframe>
            </div>
            <form action="/" method="post">
                <h3>Register</h3>
                <input type="text" placeholder="Your name *" class="box" name="userName" required>
                <input type="number" placeholder="Your number *" class="box" name="userPhone" required>
                <input type="email" placeholder="Your email *" class="box" name="userEmail" required>
                <input type="text" class="box" placeholder="LinkedIn profile link *" name="userProfileLinkedIn" required>
                <input type="text" class="box" placeholder="How do you want to contribute to our community *" name="userInfo0" required>
                <input type="text" class="box" placeholder=" Any past experiences you have working with communities *" name="userInfo1" required>
                <button type="submit" style="background-color: transparent;" id="skicka" onclick="alertmsg()"><a class="btn">Register Now <span class="fas fa-chevron-right"></span></a></button>
            </form>
        </div>
    </section>


    <!-- reviews -->
    <!-- <section class="review" id="review">
        <h1 class="heading"> Visitor's <span>review</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="./images/restOfImg/doc-1.jpg" alt="img">
                <h3>Rani singh</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">Best Ever community seen</p>
            </div>
            <div class="box">
                <img src="./images/restOfImg/doc-4.jpg" alt="img">
                <h3>Md. Nayab Ansari</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">It's very well mannered members, good coordination with attendees. They
                    guide very well and take good care . Overall experience is satisfactory.</p>
            </div>
            <div class="box">
                <img src="./images/restOfImg/doc-6.jpg" alt="img">
                <h3>sam Azad</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">They provide good assistance .</p>
            </div>
        </div>
    </section> -->


    <!-- Footer -->
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="#services"> <i class="fas fa-chevron-right"></i> home </a>
                <a href="#about"> <i class="fas fa-chevron-right"></i> about us</a>
                <a href="#doctors"> <i class="fas fa-chevron-right"></i> Core Members</a>
                <a href="#book"> <i class="fas fa-chevron-right"></i> join us </a>
                <!-- <a href="#review"> <i class="fas fa-chevron-right"></i> review </a> -->
                <form action="/event" method="get"><button type="submit" style="background-color: transparent; border: none; cursor: pointer;"><a> <i class="fas fa-chevron-right"></i> event </a></button></form>
            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91 9431021730 ,+91 74279 72855 </a>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=new"> <i class="fas fa-envelope"></i>brainseednetworks931@gmail.com </a>
                <a href="https://www.google.com/maps/dir/27.2200786,75.7022454/uem+hospital+address/@27.216381,75.6969063,16z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x396cff5cf4c11737:0x4e2da830b085e3f3!2m2!1d75.7005361!2d27.2130141"><i class="fas fa-map-marker-alt"></i>6P72+663, Jaipur, Rajasthan 303702</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com/people/BrainSeed-Networks/100086690594526/"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="https://twitter.com/BrainseedN"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="https://www.instagram.com/brainseed_networks/?r=nametag"> <i class="fab fa-instagram"></i>instagram </a>
                <a href="https://www.linkedin.com/company/brainseed-networks/"> <i class="fab fa-linkedin"></i> linkedin</a>
                <a href="https://www.youtube.com/channel/UC3vk9QvXFlZRpfMX_MmGumA"> <i class="fab fa-youtube"></i>youtube</a>
            </div>
        </div>
        <div class="credit"> | created by <span>BrainSeed-Networks</span> | </div>
    </section>


    <!-- custom js file link  -->
    <script src="./js/script.js"></script>

</body>

</html>
